# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/

*.tif
*.hdf
*.nc
*.csv
*.npy

*.pth
*.pt
*.h5

# Virtual envs
.venv/
venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store